@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500');

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* HEADER STYLE*/
.container-header {
    height: 2em;
    display: flex;
    /* border: 1px dotted #000; */
    align-items: center;
    justify-content: center;
    flex: auto;
    font-size: .8em;
    font-weight: 500;
    color: #999;
}

/* FORM STYLE */
.container-form {
    display: flex;
    flex-direction: column;
    padding: 0em 1em 1em 1em;
}

.form-row {
    display: flex;
    justify-content: space-evenly;
    /*flex-direction: row;*/

    /* background: lightblue; */
    /* border: 1px solid black; */
    margin-bottom: .5em;
}

.form-item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 3em;
    flex-direction: column;

    padding: 0 .3em;
    /* border: 1px dotted red; */
}

.form-item-proc {
    flex-grow: 5;
}

label {
    font-size: .7em;
    font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[name="proc1Name"], input[name="proc2Name"],
input[name="opName"],
textarea,
select,
button {
    width: 100%;
    font-size: 1em;
    height: 2em;

}

textarea {
    resize: none;
    height: 4.5em;
}

.divider {
    border-bottom: solid 1px;
    
}