main, header, section, aside, footer {
    margin: 0;
    /*    padding: 20px;*/
    /*    border: 1px solid #000000;*/
    /*    color: #ffffff;*/
}

body, input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    font-size: .9em;
}

.section {
    margin: 1em;
}

.field-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: .5em 0;
}

.field-column {
    display: flex;
    flex-direction: column;
    /*margin: 1em 0 1em 0;*/
    justify-content: space-between;
}

.field__label__row {
    flex: 0 0 5.5em;
    margin: 0em .5em 0em 0em;
}

.field__label__column {
    flex: 0 0 auto;
    margin: 0em .5em 0em 0em;
}

.field__input {
    flex: 1 1 0px;
}

.field__input__datetime {
    flex: 0 1 14em;
}

.field__textarea {
    flex: 1 1 5em;
}

label:nth-of-type(2) {
    flex: 0 0 auto;
    margin: 0em .5em 0em 1.5em;
}

.field__label__isProcSuccessful{
    margin-top: 1em;
}