main, header, section, aside, footer {
    margin: 0;
    /*    padding: 20px;*/
    /*    border: 1px solid #000000;*/
    /*    color: #ffffff;*/
}

.section {
    /* flex: 1;*/
    /*shorthand for flex-grow: 1, flex-shrink: 1, and flex-basis: 0%*/
    
    
}

.field-inline{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.datalist--modifier{
    max-height: 1.3em;
}

.field__input{
    flex-grow: 2;
}

.field__label{
    flex-grow: 1;
}