@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }

    .btn {
        flex: 1;
    }
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.section {
    height: 100%;
    background: #78a7ba;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.form {
    flex: 1;
    max-width: 600px;
    background-color: #EFF0F1;
    border-radius: 10px;
    border: 1px solid #999;
    margin-top: auto;
    margin-bottom: auto;
}

.form-header {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}

.form-header h1 {
    font-size: 1.2em;
    text-align: center;
    color: #777;
}

.form-body {
    background: white;
    padding: .5em .5em;
}

.row {
    display: flex;

}

.input-group {
    flex: 1;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    margin: .2em .5em;
}

label {
    font-size: .7em;
    font-weight: 500;
}

input[type="text"],
input[type="datetime-local"],
input[name="procName"],
input[name="opName"],
textarea,
select {
    width:auto;
    font-size: 1em;
    height: 2em;
    padding-left: .5em;
    padding-right: .5em;
    color: #999;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

textarea {
    resize: none;
    height: 100px;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #1BBA93;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #bcf5e7;
    cursor: pointer;
}