main, header, section, aside, footer {
    margin: 0;
    /*    padding: 20px;*/
    /*    border: 1px solid #000000;*/
    /*    color: #ffffff;*/
}

.section {
    /* flex: 1;*/
    /*shorthand for flex-grow: 1, flex-shrink: 1, and flex-basis: 0%*/
    
    
}

.field-row{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em;
}

.field-column {
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: space-between;
}

.datalist--modifier{
    /*max-height: 1.3em;*/
}



.field__label{
    flex: 0 0 auto;
    margin: 0em 1em 0em 0em;
}

.field__label__isProcSuccessful{
    margin: 0em 1em 0em 1em;
}

.field__input{
    flex: 1 1 0px;
}

.field__textarea{
    flex: 1 1 auto;
}